.food-item{
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    background: white;
}

.food-item:hover{
    transform: scale(1.05);
}

.food-item img{
    border-radius: 15px 15px 0 0;
}

.food-item-info{
    padding: 15px;
}

.food-item-name{
    font-weight: 600;
}

.food-item-price{
    color: #4CAF50;
    font-weight: bold;
}