.navbar{
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO TEXT */
.logo-text{
    font-size: 28px;
    font-weight: bold;
    color: #4CAF50;
    text-decoration: none;
}

/* MENU */
.navbar-menu{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar-menu a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* ACTIVE */
.navbar-menu .active{
    border-bottom: 2px solid #4CAF50;
}

/* RIGHT SIDE */
.navbar-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar-right img{
    width: 22px;
    cursor: pointer;
}

/* BUTTON */
.navbar button{
    background: transparent;
    border: 1px solid #4CAF50;
    padding: 8px 20px;
    border-radius: 25px;
    cursor: pointer;
}

/* CART DOT */
.navbar-search-icon{
    position: relative;
}

.dot{
    position: absolute;
    width: 8px;
    height: 8px;
    background: #4CAF50;
    border-radius: 50%;
    top: -5px;
    right: -5px;
}

/* PROFILE */
.navbar-profile{
    position: relative;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    background: white;
    padding: 10px;
    border-radius: 6px;
    list-style: none;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
}